# PostgreSQL connection string
DATABASE_URL="your_database_url"

# Admin Login
ADMIN_USERNAME="your_admin_username"
ADMIN_PASSWORD="your_admin_password"
SESSION_SECRET="your_session_secret"

# Groq API Key
GROQ_API_KEY="your_groq_api_key"

# Cloudinary (Optional)
CLOUDINARY_CLOUD_NAME=""
CLOUDINARY_API_KEY=""
CLOUDINARY_API_SECRET=""